{% extends 'base.html' %}

{% block content %}
<h1>Fill your heart with joy!</h1>
<p>Browse through the links below to find your new comfort food:</p>

<section class="items">
    
    <div class="item">
        <a href="/recipes/cookies"><img src="https://media.istockphoto.com/id/1035053764/photo/beautiful-cookies-assorted-close-up-background-horizontal-top-view.jpg?s=612x612&w=0&k=20&c=5blbYcRKIYxN3SFGnUxY4xB9PcEaScd4-HCmyiQvcew="></a>
        <h3></h3>
        <a href="/recipes/cookies"><button>Explore Cookie Recipes</button></a>
    </div>

    <div class="item">
        <a href="/recipes/cakes"><img src="https://st4.depositphotos.com/10614052/25239/i/600/depositphotos_252391082-stock-photo-sweet-chocolate-cake-on-wooden.jpg"></a>
        <h3></h3>
        <a href="/recipes/cakes"><button>Explore Cake Recipes</button></a>
    </div>

    <div class="item">
        <a href="/recipes/breads"><img src="https://media.istockphoto.com/id/1163707527/photo/breads-assortment-background.webp?b=1&s=170667a&w=0&k=20&c=6dLir24oQL9QLxUlj5xcDxGYC47wuGGzLAgq268RhfY="></a>
        <h3></h3>
        <a href="/recipes/breads"><button>Explore Bread Recipes</button></a>
    </div>
</section>
{% endblock %}