{% extends 'base.html' %}

{% block content %}
<h1>Add a Recipe</h1>
<form action="{{ url_for('processing') }}" method="post">
    <label for="r_type">Type:</label>
    <select name="recipe_type" id="r_type" required>
        <option disabled selected value>...</option>
        <option value="cookies">Cookie</option>
        <option value="cakes">Cake</option>
        <option value="breads">Bread</option>
    </select><br><br>
    <label for="r_name">Name:</label>
    <input type="text" name="recipe_name" id="r_name" required><br><br>
    <label for="r_time">Time:</label>
    <input type="text" name="recipe_time" id="r_time"><br><br>
    <label for="r_url">Image URL:</label>
    <input type="url" name="recipe_url" id="r_url"><br>
    <label for="r_url">Source:</label>
    <input type="url" name="recipe_source" id="r_url"><br>
    <textarea name="recipe_desc" placeholder="Describe this wonderful dish..." cols="30" rows="10"></textarea><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}